<web-app version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
<!--    <servlet>-->
<!--        <servlet-name>addUser</servlet-name>-->
<!--        <jsp-file>/addUser.jsp</jsp-file>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>addUser</servlet-name>-->
<!--        <url-pattern>/</url-pattern>-->
<!--    </servlet-mapping>-->

	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>ir.Boors.ServiceHandler.FrontController</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/addNewPendingStock</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/getPendingStock</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/UserInfoHandler</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/UserAdder</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/tradeQueue</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/trade</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/StockStatistic</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/StockQueueHandler</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/SetLimit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/ResponseDepositRequest</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/RecordsHandler</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/GetUserProfile</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/GetExpensive</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/GetDepositRequests</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/DoTrade</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/ConfirmSymbol</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/ConfirmExpensive</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/CSVExporter</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/AddUserRole</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/AddDepositRequest</url-pattern>
	</servlet-mapping>
	





	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Home</web-resource-name>
			<url-pattern>/home.html</url-pattern>
			<url-pattern>/stockQueue</url-pattern>
			<url-pattern>/tradeQueue</url-pattern>
			<url-pattern>/userinfo</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
			<role-name>finance_user</role-name>
			<role-name>company_owner</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Home</web-resource-name>
			<url-pattern>/addDepositRequest</url-pattern>
			<url-pattern>/dotrade</url-pattern>	
			<url-pattern>/trade</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Home</web-resource-name>
			<url-pattern>/addNewPendingStock</url-pattern>
			<url-pattern>/getMyStockStatistic</url-pattern>			
		</web-resource-collection>
		<auth-constraint>
			<role-name>company_owner</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Home</web-resource-name>
			<url-pattern>/addUserRole</url-pattern>
			<url-pattern>/confirmSymbol</url-pattern>
			<url-pattern>/export</url-pattern>
			<url-pattern>/getPendingStock</url-pattern>
			<url-pattern>/getUserProfile</url-pattern>
			<url-pattern>/setLimit</url-pattern>						
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Home</web-resource-name>
			<url-pattern>/confirmExpensive</url-pattern>
			<url-pattern>/getDepositRequests</url-pattern>
			<url-pattern>/getExpensiveRequests</url-pattern>
			<url-pattern>/responseDepositRequest</url-pattern>			
		</web-resource-collection>
		<auth-constraint>
			<role-name>finance_user</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>						

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login-error.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>user</role-name>
	</security-role>
	<security-role>
		<role-name>finance_user</role-name>
	</security-role>	
	<security-role>
		<role-name>company_owner</role-name>
	</security-role>
	<security-role>
		<role-name>admin</role-name>
	</security-role>

</web-app>

