<!DOCTYPE html>
<html lang="en">

<head>
  <title>boors</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/boors.css"/>
  <script type="text/javascript" src="js/jquery.min.js"></script> 
  <script type="text/javascript" src="js/bootstrap.min.js"></script> 
</head>
<body ng-app="myboors" ng-controller="myBoorsController as ctrl" >
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bourse System</a>
      </div>
      <div class="right">
        <div class="input-group">
          <a href="logout" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          </a>
        </div> 
      </div>
    </div>
  </nav>
  <div ng-show="ctrl.user.id !== null" class="jumbotron">
    <div class="container">
      <h1 >User Info</h1>
      <div class="container">
        <div class="container-fluid"><label class="col-xs-2">Id</label>{{ctrl.user.id}}</div><br/>
        <div class="container-fluid"><label class="col-xs-2">Name</label> {{ctrl.user.name}} </div><br/>
        <div class="container-fluid"><label class="col-xs-2">Family</label> {{ctrl.user.family}} </div><br/>
        <div class="container-fluid"><label class="col-xs-2">Balance</label> {{ctrl.user.balance}} </div><br/>
        <div class="container-fluid"><label class="col-xs-2">Shares</label>
          <table class="col-xs-2">
            <tr ng-repeat="currShare in ctrl.user.shares">
              <td>{{currShare.name}}</td>
              <td> {{currShare.quan}}</td>
            </tr>
          </table>
        </div><br/>
        
        <div class="container-fluid"><label class="col-xs-2">Deposit Reqs</label>
          <table class="col-xs-2">
            <tr ng-repeat="currReq in ctrl.user.depositRequests">
              <td>request</td>
              <td>${{currReq.amount}}</td> 
            </tr>
          </table>
        </div><br/>

        <div class="container-fluid">
          <form class="form-inline col-xs-offset-2">
            <div class="form-group">
              <input ng-model="depositAmount" type="text" class="form-control" placeholder="Deposit Amount">
            </div>
            <button ng-click="ctrl.depositRequest()" type="submit" class="btn btn-primary">Register</button>
            <span class="help-inline error-msg-inline">{{depositRequestResMsg}}</span>
          </form>
        </div><br/>

        <div class="container-fluid"><label class="col-xs-2">Requests</label>
          <table class="col-xs-3">
            <tr ng-repeat="currReq in ctrl.user.reqs">
              <td><b>{{currReq.type}}</b></td>
              <td>{{currReq.quan}}</td>
              <td>shares of</td>
              <td>{{currReq.symbol}}</td>
              <td>${{currReq.price}}</td> 
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="ctrl.user.id !== null" class="jumbotron">
      <div class="container">
        <h1 >Confirm Deposit Request</h1>
        <div class="container">
          <div class="container-fluid col-xs-10">
            <table class="table table-hover">
              <tr ng-repeat="currRequest in ctrl.depositRequests">
                <td>&bull;</td>
                <td>userId <b>{{currRequest.userId}}</b></td> 
                <td>requset deposit</td>
                <td>${{currRequest.amount}}</td>
                <td>
                  <button ng-click="ctrl.responseDepositRequest(currRequest.id,'accept')" class="btn btn-primary">accept</button>
                  <button ng-click="ctrl.responseDepositRequest(currRequest.id,'reject')" class="btn btn-danger">reject</button>
                </td>  
              </tr>
            </table>
          </div> 
          <div ng-show=" loadDepositRequestsErrMsg.length !==0 " class="container-fluid"><span class="error-msg">{{loadDepositRequestsErrMsg}}</span>
          </div>
        </div>
      </div>
  </div>


  <div ng-show="ctrl.user.id === 1" class="jumbotron">
    <div class="container">
      <h1>Records</h1>
      <div class="container">        
        <form class="container-fluid" ng-show=" ctrl.records.length>0">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
              <input type="text" class="form-control" placeholder="Search" ng-model="searchInput">
            </div>      
          </div>
        </form>
        <div class="container-fluid">
          <table class="col-xs-12 table table-hover">
            <tr ng-repeat="currRecord in ctrl.records | orderBy:'date' | filter:searchInput">
              <td>&bull;</td>
              <td>userId <b>{{currRecord.seller.id}}</b></td> 
              <td>sold</td>
              <td>{{currRecord.quan}}</td>
              <td>shares of</td>
              <td>{{currRecord.symbol}}</td>
              <td>${{currRecord.price}}</td>
              <td>to</td>
              <td>userId <b>{{currRecord.buyer.id}}</b></td> 
              <td>on</td>
              <td>{{currRecord.date}}</td>
              <td>method</td>
              <td>{{currRecord.method}}</td>
            </tr>
          </table>
        </div> 
        
        <div class="container-fluid">
          <button ng-click="ctrl.getBackup()" class="btn btn-primary">Backup</button>
          <span class="help-inline error-msg-inline">{{getBackupResMsg}}</span>
        </div>

        <div ng-show=" loadRecordsErrorMessage.length !==0 " class="container-fluid"><span class="error-msg">{{loadRecordsErrorMessage}}</span>
        </div>        
      </div>
    </div>
  </div>

  <div ng-show="ctrl.user.id !== null" class="jumbotron">
      <div class="container">
        <h1 >Users Profile</h1>
        <div class="container">
          <div class="container-fluid">
            <form class="form-inline">
              <div class="form-group">
                <input ng-model="searchUserId" type="text" class="form-control" placeholder="User id">
              </div>
              <button ng-click="ctrl.getUserProfile(searchUserId)" type="submit" class="btn btn-primary">Search</button>
              <span class="help-inline error-msg-inline">{{loadUserProfileErrMsg}}</span>
            </form>
          </div><br/><br/>
          <div ng-show="ctrl.foundUserProfile !==null">
            <div class="container-fluid"><label class="col-xs-2">Id</label>{{ctrl.foundUserProfile.id}}</div><br/>
            <div class="container-fluid"><label class="col-xs-2">Name</label> {{ctrl.foundUserProfile.name}} </div><br/>
            <div class="container-fluid"><label class="col-xs-2">Family</label> {{ctrl.foundUserProfile.family}} </div><br/>
            <div class="container-fluid"><label class="col-xs-2">Balance</label> {{ctrl.foundUserProfile.balance}} </div><br/>
            <div class="container-fluid"><label class="col-xs-2">Shares</label>
              <table class="col-xs-2">
                <tr ng-repeat="currShare in ctrl.foundUserProfile.shares">
                  <td>{{currShare.name}}</td>
                  <td> {{currShare.quan}}</td>
                </tr>
              </table>
            </div><br/>

            <div class="container-fluid"><label class="col-xs-2">Deposit Reqs</label>
              <table class="col-xs-2">
                <tr ng-repeat="currReq in ctrl.foundUserProfile.depositRequests">
                  <td>request</td>
                  <td>${{currReq.amount}}</td> 
                </tr>
              </table>
            </div><br/>

            <div class="container-fluid"><label class="col-xs-2">Requests</label>
              <table class="col-xs-3">
                <tr ng-repeat="currReq in ctrl.foundUserProfile.reqs">
                  <td><b>{{currReq.type}}</b></td>
                  <td>{{currReq.quan}}</td>
                  <td>shares of</td>
                  <td>{{currReq.symbol}}</td>
                  <td>${{currReq.price}}</td> 
                </tr>
              </table>
            </div><br/>

            <div class="container-fluid"><label class="col-xs-2">Roles</label>
              <form class="form-inline">
                <div class="form-group">
                  <select class="form-control" ng-model="selectedRole">
                      <option value="user">normal user</option>
                      <option value="finance_user">finance responsible</option>
                      <option value="company_owner">compony owner</option>
                      <option value="admin">admin</option>
                  </select>                    
                </div>
                <button ng-click="ctrl.addUserRole(selectedRole)" type="submit" class="btn btn-primary">Add Role</button>
                <span class="help-inline error-msg-inline">{{addRoleResMsg}}</span>
              </form>
            </div><br/>


          </div>
        </div>
      </div>
  </div>


  <script type="text/javascript" src="js/angular.min.js"></script> 
  <script type="text/javascript" src="js/angular-messages.min.js"></script>
  <script type="text/javascript" src="js/myapp.js"></script> 

</body>
</html>
